@media screen and (min-width: 700px) {
  .flex > nav > .nav1 > .home {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 13%;
    flex: 1 1 13%;
    letter-spacing: 3px;
  }

  .flex > nav > .nav1 > input {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
    border: black solid 1px;
    border-radius: 5px;
    text-align: left;
}

  .flex > nav > .nav1 > .sign-in {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 7%;
    flex: 1 1 7%;
    text-align: right;
  }

  .flex > nav > .nav1 > .cart {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 3%;
    flex: 1 1 3%;
    text-align: center;
  }

  .flex > nav > .menu {
    display: contents;
  }

  .flex > nav > .nav1 > .menu-warp {
    display: none;
  }

  .flex > nav > .menu {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    background-color: rgba(135, 167, 48, 0.7);
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    flex: 1 1 100%;
    border-top: rgb(71, 77, 55) solid 2px;
  }

  .flex > nav > .menu > .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .flex > nav > .menu > .nav-links > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
  }

  .flex > nav > .menu > .nav-links > li > a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
  }

  .flex > nav > .menu > .nav-links > li:hover {
    background-color: rgb(88, 146, 93);
  }

  .flex > nav > .menu > .nav-links > li > a:active {
    font-size: 16px;
  }

  .flex > .recent-post > a {
    height: 300px;
    width: 200px;
    padding: 17px;
  }

  .flex > .sections > a {
    height: 300px;
    width: 200px;
    padding: 17px;
  }

  .flex > .sections > a > img {
    height: 250px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .flex > .sections > a > p {
    font-size: 20px;
  }

  .flex > .subscription > div > input {
    height: 25px;
    width: 500px;
    border-radius: 5px;
  }

  .flex > .subscription > div > button {
    border-radius: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .flex > nav > .nav1 > .home {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 10%;
    flex: 1 1 10%;
  }

  .flex > nav > .nav1 > input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
  }

  .flex > .offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .flex > .offers > * {
    visibility: visible;
    position: relative;
  }

  .flex > .offers > div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 5px 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .flex > .subscription {
    height: 200px;
  }

  .flex > .subscription > div > p {
    font-size: 16px;
    font-weight: 500;
  }

  .flex > .subscription > div > input {
    width: 700px;
    height: 40px;
    border-radius: 30px 0 0 30px;
  }

  .flex > .subscription > div > button {
    width: 130px;
    height: 40px;
    border-radius: 0 30px 30px 0;
  }

  .flex > .recent-post > a {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    height: 250px;
    width: 250px;
  }

  .flex > .sections > a {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    height: 250px;
    width: 250px;
  }
}
