@media screen and (max-width: 320px) {
  .flex > main > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 500px) {
.flex > .subscription {
  width: calc(100vw - 120px);
}
}
@media screen and (min-width: 700px) {
  :root {
    --section-div-margin: 30px;
    --section-div-padding: 20px 70px;
  }
  .flex > header {
    background-color: #fff;
  }
  .flex > header > div .ad1 > img {
    height: 200px;
  }

  .flex > header > div .ad2 > img {
    height: 180px;
  }
  .flex > .subscription {
    width: calc(100vw - 200px);
  }
  .flex > .sections > div > div > a,
  .flex > .recent-post > div > div a {
    margin: 20px;
  }
  .flex > .offers {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    --section-div-margin: 30px;
    --section-div-padding: 20px 100px;
  }
}