@media screen and (max-width: 320px) {
  .flex > main > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 500px) {
  .flex > .subscription {
    width: calc(100vw - 120px);
  }
}
@media screen and (min-width: 700px) {
  :root {
    --section-div-margin: 30px;
    --section-div-padding: 20px 70px;
  }

  .flex > nav > div > div.home {
    margin-left: 20px;
    width: 110px;
    order: 0;
  }
  .flex > nav > div > div.search-bar {
    width: calc(100vw - 325px);
    order: 1;
    border-top: none;
  }
  .flex > nav > div > div.search-bar input {
    width: calc(100% - 45px);
    min-width: 100px;
    height: 30px;
    border-radius: 50px 0 0 50px;
    padding: 10px;
    background-color: hsl(0, 0%, 95%);
  }
  .flex > nav > div > div.search-bar button {
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
  }
  .flex > nav > div > div.cart {
    width: 60px;
    order: 2;
  }
  .flex > nav > div > div.sign-in {
    width: 95px;
    margin-right: 20px;
    order: 3;
  }
  .flex > nav > div > div.menu-warp {
    display: none;
  }
  .flex > nav > div > div.menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--main-bg-dark-green);
    border-top: var(--border-color-dark-green) solid 2px;
    order: 4;
  }
  .flex > nav > div > div.menu > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .flex > nav > div > div.menu > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 25%;
  }
  .flex > nav > div > div.menu > ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-family: var(--ff3);
  }
  .flex > header {
    background-color: #fff;
  }
  .flex > header > div .ad1 > img {
    height: 200px;
  }

  .flex > header > div .ad2 > img {
    height: 180px;
  }
  .flex > .subscription {
    width: calc(100vw - 200px);
  }
  .flex > .sections > div > div > a,
  .flex > .recent-post > div > div a {
    margin: 20px;
  }
  .flex > .offers {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    --section-div-margin: 30px;
    --section-div-padding: 20px 100px;
  }
}
