.flex > header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-bg-light-blue);
  border-top: var(--main-bg-dark-blue) solid 2px;
}

.flex > header > div > div.cntr {
  margin: var(--section-div-margin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--main-bg-white);
}
.flex > header > div > div > p {
  margin: 0;
  padding: 10px;
  font-weight: 300;
  width: 100%;
}

.flex > header > div > div > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: rgb(243, 235, 235) solid 1px;
}
.flex > header > div > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.flex > header > div > div .ad1 > img {
  width: 55%;
  height: 120px;
  border-right: rgb(243, 235, 235) solid 1px;
}

.flex > header > div > div .ad2 > img {
  width: 40%;
  height: 100px;
  border-left: rgb(243, 235, 235) solid 1px;
}

.flex > header > div > div .ad3 {
  width: 100%;
  padding: 10px;
}

.flex > header > div > div div > h4 {
  padding: 0 15px;
  margin: 15px 0;
  font-weight: 500;
  font-family: var(--ff1);
}
.flex > header > div > div div > a {
  font-weight: 600;
  font-family: var(--ff3);
}

@media (min-width: 500px) {
  :root {
    --section-div-margin: 60px;
  }
}
@media (min-width: 700px) {
  .flex > header > div > div > div {
    width: 50%;
  }
  .flex > header > div > div.cntr {
    margin: 50px 70px;
  }
  .flex > header > div > div .ad2 img {
    border: rgb(243, 235, 235) solid 1px;
  }
  .flex > header > div > div .ad2 {
    flex-direction: row-reverse;
    height: 200px;
  }
  .flex > header > div > div .ad1 > img,
  .flex > header > div > div .ad2 > img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1000px) {
  .flex > header > div > div.cntr {
    margin: 50px 100px;
  }
}
